/* about section  */
.about-section {
  display: flex;
  background-color: #fff0ed;
  align-items: center;
  justify-content: space-between;
  padding: 60px 150px 40px;
}

.about-section__title {
  margin-bottom: 20px;
}

.about-section__tag-line {
  width: 35rem;
  padding-bottom: 40px;
}

.about-section__hero-img {
  padding-right: 20px;
  margin-top: 20px;
}

/* buttons styling */

.default-button {
  font-size: 2.2rem;
  font-weight: 400;
  background-color: #5bacc3;
  color: #fff;
  border: none;
  width: 18rem;
  padding: 15px;
}

/* product section */

.products {
  background-color: #f7f7f7;
  padding-top: 60px;
  text-align: center;
}

.products__title {
  padding-bottom: 60px;
  color: #393939;
}

.product-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  gap: 10px;
  width: 33rem;
  height: 44rem;
  margin: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.product-card__image {
  height: 24rem;
  margin: 20px;
}

.product-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15rem;
  background-color: #fff0ed;
}

.product-card__bottom--left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-card__title {
  margin-left: 20px;
}

.product-card__subtitle {
  color: #909090;
  margin-left: 20px;
}

.product-card__price {
  margin: 30px;
  color: #5bacc3;
  font-size: 3.2rem;
  font-weight: bold;
}

.product-section__button {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* Discounts section */

.discount-section {
  height: 55rem;
  padding: 20px;
  display: flex;
  align-items: center;
}

.discount-section__p {
  font-size: 4.5rem;
  font-weight: 400;
  width: 90%;
  background-color: #393939;
  color: #fff;
  text-align: center;
  margin: auto;
  padding: 40px;
}

.discount-section__p--code {
  font-weight: 700;
}
