@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/global";
@use "./partials/keyframes";

/* about section  */
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $nitro-pink;
  padding-top: 10px;

  &__left {
    @include flex-column;
    align-items: flex-start;
    margin-left: 13rem;
  }

  &__title {
    margin-bottom: $spacing-standard;
  }

  &__tag-line {
    width: 38rem;
    padding-bottom: $spacing-double;
  }

  &__hero-img {
    margin-top: $spacing-double;
    padding-bottom: $spacing-double;
    margin-right: 20rem;
  }
}

/* product section */

.products {
  background-color: $lightgray;
  text-align: center;

  &__title {
    padding-top: $spacing-triple;
    padding-bottom: 50px;
    color: $graphite;
  }

  &__body {
    @include flex-centered;
    gap: $spacing-standard;
  }

  &__footer {
    @include flex-centered;
    height: 15rem;
  }
}

.product-card {
  @include box-with-shadow;
  @include flex-column;
  @include card-dimensions;
  align-items: center;
  overflow: hidden;
  gap: $spacing-half;
  margin: $spacing-standard $spacing-double;
  background-color: $white;

  &__image {
    height: 24rem;
    margin: $spacing-standard;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15rem;
    background-color: $nitro-pink;
    padding: $spacing-standard;
  }

  &__bottom--left {
    @include flex-column;
    align-items: flex-start;
  }

  &__subtitle {
    color: $gray;
  }

  &__price {
    color: $nitro-blue;
    font-size: 3.2rem;
    font-weight: bold;
  }
}

/* we're different section */
.different-section {
  height: 60rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: $spacing-triple;

  &__left {
    @include flex-column;
    width: 45rem;
    justify-content: center;
    align-items: flex-start;
    gap: $spacing-double;
    position: relative;
    right: 20px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    bottom: 8px;
  }

  &__icon {
    width: $iconsize;
  }

  &__right {
    @include flex-centered;
    @include background-image-styling;
    @include square-dimensions;
    background-image: url(../assets/coldbrewbackground.png);
    position: relative;
    top: $spacing-standard;
    left: $spacing-standard;
  }

  &__border {
    @include flex-centered;
    @include square-dimensions;
    border: 5px $nitro-blue solid;
    position: relative;
    bottom: $spacing-standard;
    right: $spacing-standard;
  }

  &__image {
    height: 28rem;
  }

  &__right:hover > &__border &__image,
  &__border:hover > &__image,
  &__image:hover {
    @include infity-animation;
    animation-name: rotation-animation;
    animation-duration: 2s;
  }
}

/* buttons styling */

.button {
  &__background {
    @include button-dimensions;
    background-color: $nitro-blue;
  }

  &__background--large {
    @include button-dimensions-large;
    position: relative;
    bottom: 10px;
  }

  &__link {
    @include button-dimensions;
    @include flex-centered;
    font-size: 2.2rem;
    text-decoration: none;
    color: $white;
    border: 2px solid $graphite;
    position: relative;
    bottom: 5px;
    right: 5px;
    transition: 0.1s;
  }

  &__link--large {
    @include button-dimensions-large;
  }

  &__link:active {
    bottom: 0px;
    right: 0px;
  }
}

/* Discounts section */
.discount-section {
  @include flex-centered;
  height: 40rem;
  padding: $spacing-triple;
  margin-bottom: $spacing-triple;

  &__p {
    @include infity-animation;
    font-size: 4.5rem;
    animation-name: background-transition;
    animation-duration: 2.5s;
    text-align: center;
    color: $white;
    width: 90%;
    padding: $spacing-double;
    margin: $spacing-triple;
  }

  &__p--code {
    font-weight: $font-bold;
  }
}
