@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/global";
/* menu hero image, title, background */

.menu-nav {
  &__background {
    @include flex-centered;
    @include background-image-styling;
    height: 40vw;
    background-image: url("../assets/coffee-circle.jpg");
    text-align: center;
  }
  &__title-box--background {
    @include titlebox-dimensions;
    background-color: $graphite;
    position: relative;
    top: $menu-offset;
    left: $menu-offset;
  }
  &__title-box {
    @include flex-centered;
    @include titlebox-dimensions;
    color: $white;
    border: 5px solid $nitro-blue;
    position: relative;
    bottom: $menu-offset;
    right: $menu-offset;
  }

  &__title {
    font-size: 4vw;
  }

  &__nav-bar {
    width: 100%;
    background-color: $graphite;
    text-align: center;
    height: 7rem;
  }

  &__list-item {
    display: inline-block;
    margin: $spacing-standard $spacing-half;
    padding-left: $spacing-standard;
    border-left: 4px solid $nitro-blue;
  }

  &__link {
    text-decoration: none;
    color: $white;
    font-size: 2.1rem;
  }
}

.menu-section {
  &__header {
    padding: $spacing-standard;
  }
  &__background--pink {
    background-color: $nitro-pink;
    text-align: center;
  }

  &__background--white {
    background-color: $lightgray;
    text-align: center;
  }
}

/* Menu Cards  */

.menu-card {
  width: 35%;
  margin: auto;
  padding: $spacing-standard;

  &__description {
    font-style: italic;
  }

  &__price {
    color: $nitro-blue;
    font-size: 2rem;
  }
}
