@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/global";
/* menu hero image, title, background */

.menu-nav {
  &__background {
    @include flex-centered();
    width: 100vw;
    height: 45vw;
    background-image: url("../assets/coffee-circle.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
  }

  &__title-box {
    @include flex-centered();
    height: 14vw;
    width: 23vw;
    color: #fff;
    border: 5px solid $nitro-blue;
    position: relative;
    bottom: 10px;
    right: 10px;
  }
  &__title-box--background {
    background-color: $graphite;
    height: 14vw;
    width: 23vw;
  }
  &__title {
    font-size: 5vw;
  }

  &__nav-bar {
    width: 100%;
    background-color: $graphite;
    text-align: center;
    height: 7rem;
  }

  &__list {
    list-style-type: none;
    padding-inline-start: 0px;
  }

  &__list-item {
    display: inline-block;
    margin: 2rem;
    padding-left: 2rem;
    border-left: 4px solid $nitro-blue;
  }

  &__link {
    text-decoration: none;
    color: $white;
    font-size: 2.1rem;
    font-weight: 400;
  }
}

.menu-section {
  &__header {
    padding: 20px 0;
  }
  &__background--pink {
    background-color: $nitro-pink;
    text-align: center;
  }

  &__background--white {
    background-color: $lightgray;
    text-align: center;
  }
}

/* Menu Cards  */

.menu-card {
  text-align: center;
  width: 40%;
  margin: auto;
  padding: 20px 0;

  &__description {
    font-style: italic;
  }

  &__price {
    color: $nitro-blue;
    font-size: 2rem;
  }
}
