@use "./variables" as *;
@use "./mixins" as *;

/* Remove default styling */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* Setting default values (fonts) */

body {
  font-family: "Open Sans";
  font-weight: $font-copy;

  h1,
  h2 {
    font-size: 6rem;
    font-weight: $font-title;
  }
  h3 {
    font-size: 3rem;
    font-weight: $font-title;
  }
  p {
    font-size: 1.8rem;
    font-weight: $font-copy;
  }
}

/* top navigation */
.nav-bar {
  background-color: $nitro-pink;
  display: flex;
  justify-content: space-between;
  padding-bottom: $spacing-half;
  align-items: flex-end;

  &__icon {
    padding-top: 3rem;
    margin-left: $spacing-standard;
    width: $iconsize;
  }

  &__title {
    font-size: 5rem;
    display: inline-block;
    color: $graphite;
    position: relative;
    bottom: 5px;
  }

  &__right {
    display: flex;
    align-items: flex-end;
    padding-right: $spacing-half;
  }

  &__list-item {
    display: inline-block;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $graphite;
    font-size: 2.1rem;
    margin: $spacing-standard 21px;
  }

  &__link--featured {
    color: $nitro-blue;
  }
}

/* Footer section */
.footer {
  background-color: $nitro-pink;
  height: 26rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: $spacing-double;

  &__title {
    font-size: 3.3rem;
    padding-bottom: $spacing-standard;
  }

  &__hours--open-days {
    font-weight: $font-bold;
  }

  &__icon {
    width: $iconsize;
  }

  /* Background watermarks in footer */

  &__image--left {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__image--right {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__image-logo--left {
    @include footer-image;
    top: 3rem;
    right: 4rem;
  }

  &__image-logo--right {
    @include footer-image;
    bottom: 3rem;
    left: 4rem;
  }
}
