@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin box-with-shadow {
  border-radius: 10px;
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
}

@mixin button-dimensions($width) {
  width: $width;
  height: 6rem;
}

@mixin titlebox-dimensions {
  height: 14vw;
  width: 21vw;
}

@mixin card-dimensions {
  width: 33rem;
  height: 44rem;
}

@mixin square-dimensions {
  width: 40rem;
  height: 40rem;
}

@mixin infity-animation($name, $duration) {
  animation-name: $name;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: $duration;
}

@mixin background-image-styling {
  background-position: center;
  background-size: cover;
}

@mixin footer-image {
  width: 120px;
  position: relative;
  opacity: 25%;
}

@mixin relative-position($top: null, $bottom: null, $left: null, $right: null) {
  position: relative;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}
