$nitro-blue: #5bacc3;
$nitro-pink: #fff0ed;
$graphite: #393939;
$gray: #909090;
$lightgray: #f7f7f7;
$white: #fff;

$iconsize: 5rem;

$spacing-half: 10px;
$spacing-standard: 20px;
$spacing-double: 40px;
$spacing-triple: 60px;
$menu-offset: 15px;

$font-copy: 400;
$font-title: 300;
$font-bold: 700;
